body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .container {
    text-align: center;
  }

  .red-box {
    background-color: red;
    width: 700px;
    padding: 0;
    margin-bottom: 20px;
  }

  .green-box {
    background-color: green;
    width: 700px;
    padding: 25px;
  }